<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Login</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
       <h1>Вход</h1>
       <form method="POST">
           {{ form.hidden_tag() }}
           {{ form.nickname.label }} {{ form.nickname(size=32) }}
           {{ form.password.label }} {{ form.password(size=32) }}
           {{ form.submit() }}
       </form>
       <a href="/register">Нет аккаунта? Зарегистрируйтесь здесь!</a>
   </body>
   </html>