<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.nickname.label }} {{ form.nickname(size=32) }}
        {{ form.password.label }} {{ form.password(size=32) }}
        {{ form.confirm_password.label }} {{ form.confirm_password(size=32) }}
        {{ form.avatar.label }} {{ form.avatar() }}
        {{ form.submit() }}
    </form>
    <a href="/login">Уже зарегистрированы? Войдите здесь!</a>
</body>
</html>